{% extends 'main.html'%}
{% block content %}
<center>
<h3>Update User Details Here</h3>
<div class="home">
<form action="" method="post">
        {% csrf_token %}
    <label for="">First Name</label>
    <input type="text" name="first_name" value="{{data.first_name}}"><br>
    <label for="">Last Name</label>
    <input type="text" name="last_name" value="{{data.last_name}}"><br>
    <label for="">Email</label>
    <input type="email" name="email" value="{{data.email}}"><br>
    <label for="">User Name</label>
    <input type="text" name="username" value="{{data.username}}"><br>
    <input type="submit" value="Update_User_Details">
</form>
</div>
</center>

{% endblock content %}
