{% extends 'main.html' %}
{% block content %}
<center>
    <h2>Homepage Django form using Modelform class</h2> <hr>
    <form action="" method="POST" >
        {% csrf_token %}
        <h3>{{form}}</h3>
        <input type="submit" name="" id="">
    </form>
    <hr>
    <h3>List of students</h3>
    {% for i in data %}
            <h2>{{i.name}}//{{i.rollno}}//{{i.course}}
                <a href="{% url 'update' i.id %}">update</a>
                <a href="{% url 'delete_' i.id %}">delete</a>
            </h2> 
            {% endfor %}            
</center>
{% endblock content %}