{% extends 'hospital/base.html' %}
{% block content %}
<h2>Doctor List</h2>
<a href="{% url 'add_doctor' %}">Add New Doctor</a>
<table border="1">
    <tr><th>Name</th><th>Specialization</th><th>Phone</th><th>Actions</th></tr>
    {% for doctor in doctors %}
    <tr>
        <td>{{ doctor.name }}</td>
        <td>{{ doctor.specialization }}</td>
        <td>{{ doctor.phone }}</td>
        <td>
            <a href="{% url 'update_doctor' doctor.id %}">Edit</a> 
            <a href="{% url 'delete_doctor' doctor.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
