<nav>
    <div class="logo">
        <h2> Amazon_home</h2>
    </div>


    <div class="link">
        <a href="{% url 'home' %}">home</a>
        <a href="{% url 'electronics_home' %}">Electronics</a>
        <a href="{% url 'clothes' %}">Clothes</a>
        <a href="{% url 'movies' %}">Movies</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'support' %}">Support</a>
    </div>
</nav>

<nav>
    <div class="logo">
        <h2> Clothes Website</h2>
    </div>


    <div class="link">
        <a href="{% url 'clothes_home' %}">clothes_home</a>
        <a href="{% url 'mens' %}">mens</a>
        <a href="{% url 'womens' %}">womens</a>
        <a href="{% url 'kids' %}">kids</a>
    </div>
</nav>

<nav>
    <div class="logo">
        <h2> electronics </h2>
    </div>


    <div class="link">
        <a href="{% url 'electronics_home' %}">home</a>
        <a href="{% url 'laptops' %}">laptops</a>
        <a href="{% url 'mobiles' %}">mobiles</a>
        <a href="{% url 'watches' %}">watches</a>
        
    </div>
</nav> 